<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" href="/img/favicon_57.png"/>
  <link rel="apple-touch-icon" href="/img/favicon_57.png"/>
  <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon_72.png"/>
  <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon_114.png"/>
  <title>OKGO/Twilio - <%= note %></title>
  <link rel="stylesheet" href="/css/bell.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body class="vbox viewport">
  <div id="log"></div>
  <% if (note.length >= 3) { %>
    <div class="action <%= note[0] %><%= note[1] %>">
  <% } else { %>
    <div class="action <%= note[0] %>">
  <% } %>
  <% icons.forEach(function(icon) { %>
      <div class="media">
        <img src="<%=icon%>" >
      </div>
  <% }) %>
    <h2><%= note %></h2>
  </div>
  <div class="accent"></div>

  <script type="text/javascript" src="/js/socket.io.slim.js"></script>
  <script type="text/javascript" src="/js/socket.js"></script>
  <script src="/js/bell.js"></script>
  <script type="text/javascript">
    const note = `<%- note %>`;
    const genre = `<%- genre %>`;
    let audioStream, 
        handbell,
        name;

    const addHighlight = (state) => {
        $('.action').toggleClass('live')
    }

    $(document).ready(function() {
      handbell = new HandBell({name: note, genre:genre});
      $('.action').on('touchstart click', function(e) {
        if (handbell.source && handbell.source.loop) {
          handbell.stopNote();
          // socket.emit('play_sound', note);
          console.log('sent sound with source I think');
          addHighlight(true);
        } else {
          handbell.playNote();
          // socket.emit('play_sound', note);
          console.log('sent sound I think');
          addHighlight(false);
        }
      });
      
    });
  </script>
</body>
</html>