<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" href="/img/favicon_57.png"/>
  <link rel="apple-touch-icon" href="/img/favicon_57.png"/>
  <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon_72.png"/>
  <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon_114.png"/>
  <title>NCM & Twilio</title>
  <link rel="stylesheet" href="/css/bell.css">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body class="vbox viewport">
  <div id="log"></div>
  <div class="card start live">
    <div class='logo'></div>
    <a class="play-button-outer">
      <div class="play-button"></div>
    </a>
  </div>
  <div class="card action <%= note[7] %>">
    <% icons.forEach(function(icon) { %>
      <div class="media">
        <img src="<%=icon%>" >
      </div>
    <% }) %>
  </div>
  <div class="card qrcode">
    <h3>Download your kids song now!</h3>
    <canvas id="canvas"></canvas>
    <img src="<%=camera[0]%>" >
  </div>
  <div class="card loading">
    <div class="loader">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <h2>Saving Song...</h2>
  </div>
  <div class="accent"></div>

  <script type="text/javascript" src="/js/socket.io.slim.js"></script>
  <script type="text/javascript" src="/js/socket.js"></script>
  <script src="/js/bell.js"></script>
  <script src="/js/qrcode.min.js"></script>
  <script>
  </script> 

  <script type="text/javascript">
    const note = `<%- note %>`;
    const genre = `<%- genre %>`;
    let audioStream, 
        handbell,
        playing,
        action = 'start',
        name;

    const addHighlight = (state) => {
        $('.action').toggleClass('live');
    }

    const revealInstrument = (state) => {
        $('.start').removeClass('live');
    }

    const showLoading = (state) => {
        $('.loading').addClass('live');
    }

    const showQrCode = (fileName) => {
        console.log(fileName.replace(/\.[^/.]+$/, ""))

        QRCode.toCanvas(document.getElementById('canvas'), `${window.location.hostname}/send/${fileName.replace(/\.[^/.]+$/, "")}`, function (error) {
            if (error) console.error(error)
            console.log('success!');
        })
        $('.qrcode').addClass('live');
        setTimeout(()=> {
          socket.emit('reset_song');
        }, 12000)
    }

    const resetSong = () => {
        $('.action').removeClass('live');
        $('.loading').removeClass('live');
        $('.qrcode').removeClass('live');
        $('.start').addClass('live');
        action = 'start';
        playing = false;
    }

    const triggerSound = () => {
      socket.emit('trigger_sound', {note: note, action: action});
    }

    $(document).ready(function() {
      $('.action').on('click', function(e) {
        if (playing) {
          action = 'stop';
          triggerSound();
          playing = false;
          addHighlight(true);
        } else {
          action = 'start';
          triggerSound();
          playing = true;
          addHighlight(false);
        }
      });

      $('.start').on('click', function(e) {
          socket.emit('trigger_song', {note: note, action: action});
      })

      socket.on('reset_players', (msg) => {
        resetSong()
      });

      socket.on('await_upload', (msg) => {
        console.log('SHOWING LOADER')
        showLoading()
      });

      socket.on('show_code', (msg) => {
        console.log('SHOWING CODE')
        showQrCode(msg.file)
      });

      socket.on('start_song', () => {
        revealInstrument();
      })
      
    });
  </script>
</body>
</html>